# Beschrijvende data anaylse in python

In [3]:
import pandas as pd
import plotly.express as px

### Data bestanden uitlezen met df en een 10 row preview tabel tonen van de data

In [7]:
df = pd.read_csv("Kaggle_TED_video_metadata_balanced.csv")
df.head(n=10)

,title,tags,views,likes,dislikes,comment_count,published_at,duration,category_id
0,Stories from a home for terminally ill childre...,"TED Talk,TED Talks,Children,Community,Death,Fa...",77455,1768,0,49,2017-03-24T15:32:48Z,PT15M19S,29
1,Why our screens make us less happy | Adam Alter,"TEDTalk,TEDTalks,Addiction,Computers,Interface...",800326,20579,0,572,2017-08-01T15:29:04Z,PT9M30S,22
2,A tribute to nurses | Carolyn Jones,"TEDTalk,TEDTalks,Cancer,Community,Compassion,D...",87635,1877,0,48,2017-05-30T18:17:56Z,PT10M49S,22
3,"Asking for help is a strength, not a weakness ...","TEDTalk,TEDTalks,Children,Communication,Commun...",190840,4726,0,187,2017-04-12T15:17:51Z,PT11M56S,22
4,Don't feel sorry for refugees -- believe in th...,"TEDTalk,TEDTalks,Children,Global issues,Humani...",98523,2669,0,226,2017-07-25T15:06:25Z,PT14M14S,29
5,Lifesaving scientific tools made of paper | Ma...,"TEDTalk,TEDTalks,Manu Prakash,TED Fellows,dise...",168959,6194,0,224,2017-07-24T20:36:58Z,PT13M59S,28
6,The family I lost in North Korea. And the fami...,"TEDTalk,TEDTalks,TED Talk,TED Talks,TED,TEDGlo...",1711699,52248,0,2433,2013-06-19T16:14:01Z,PT13M52S,25
7,"Meet Spot, the robot dog that can run, hop and...","TEDTalk,TEDTalks,Demo,Future,Robots,Technology",3208645,55555,0,3258,2017-08-14T15:17:59Z,PT14M34S,28
8,Jorge Ramos: Why journalists have an obligatio...,"TEDTalk,TEDTalks,TED en Español,Democracy,Gove...",105009,2631,0,269,2017-07-27T15:40:28Z,PT14M31S,25
9,What I learned from 100 days of rejection | Ji...,"TED Talk,TED Talks,rejection,success,rejection...",6089724,261482,0,5216,2017-01-06T22:03:19Z,PT15M32S,22

### De aantallen, gemiddeldes, deviations en andere interessante gegevens tonen over de numerieke waarden in de data.

In [13]:
df.describe()

              views         likes  dislikes  comment_count  category_id
count  6.000000e+02  6.000000e+02     600.0     600.000000   600.000000
mean   1.066151e+06  2.263473e+04       0.0    1070.870000    25.030000
std    3.611008e+06  1.000825e+05       0.0    4055.503954     4.812244
min    1.000000e+00  0.000000e+00       0.0       0.000000     1.000000
25%    5.922150e+04  6.242500e+02       0.0      86.000000    22.000000
50%    1.332595e+05  1.846000e+03       0.0     202.000000    27.000000
75%    4.101668e+05  6.382250e+03       0.0     511.750000    28.000000
max    5.562224e+07  1.921445e+06       0.0   77980.000000    29.000000

In [23]:
df['category_id'].value_counts()

category_id
28    222
22    116
27     66
29     54
25     45
24     37
10     20
26     11
15      8
19      7
1       4
20      3
2       3
23      2
17      2
Name: count, dtype: int64